# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.dll
*.dylib
.Python
venv/
.venv/
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Rust
/target/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Secrets & misc
.env
.env.*
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.benchmarks/
*.whl
*.egg
.cache/
/.cache/

